parameters:
#    ben_doctors.example.class: Ben\DoctorsBundle\Example

services:
    twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags:
        - { name: twig.extension }
    ben.twig.extension.config:
        class: Ben\DoctorsBundle\Twig\ConfigExtension
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
        - { name: twig.extension }
#    ben.upload_listener:
#            class: Ben\DoctorsBundle\EventListener\UploadListener
#            arguments: ["@doctrine.orm.entity_manager","@request_stack"]
#            tags:
#                - { name: kernel.event_listener, event: oneup_uploader.post_persist,method: onUpload }