.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 171, 164, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
}

.head {
    width: 100%;
    height: 20%;
    padding: 12px 30px;
    overflow: hidden;
    background: #e2525c;
}

.btn-close {
    font-size: 25px;
    display: block;
    float: right;
    color: #fff;
}

.content { padding: 10%; }
.blur-it {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.header { color: #FFFFFF;}
